############### IEAI Agent COnfiguration #############################
# agent service port, default is 15000
# agent.port=Integer
agent.port=15000

#portpool   16000-20000
agentportPllo.switch=false
agent.portPool=16000-20000

##################################################

# SSL configurations, properties for Agent SSL connection.
# Enable ssl agent service, default is false
# agent.ssl.enable=true/false
# agent.ssl.mode=(no_certificate|not_verify_client|verify_client default=not_verify_client).
# agent.ssl.keyStore=(key store file path).
# agent.ssl.keyStorePassword=(key store password).
# agent.ssl.trustStore=(trust store file path).
# agent.ssl.trustStorePassword=(trust store password).
# agent.ssl.enable=true
# agent.ssl.mode=verify_client
# agent.ssl.trustStore=D:/tserver.keystore
# agent.ssl.trustStorePassword=ideal123
# agent.ssl.keyStore=D:/kserver.keystore
# agent.ssl.keyStorePassword=ideal123


##################################################

# Configuration for thread pool 
# agent.xmlrpc.maxthreads=Integer default=100
# agent.actexec.threadpool.max=Integer default=40
# network.recovery.wait.time=3600

agent.xmlrpc.maxthreads=100
agent.actexec.threadpool.max=200

network.recovery.wait.time=86400

##################################################
#h2 database pool configurations
dbpool.initSize=100
dbpool.maxActive=200
dbpool.maxIdle=10
dbpool.minIdle=8
##################################################

# log config
# agent.log=(true|false), default=true
# agent.log=true
agent.log=true

# Some times entegor server will get Chinese stdout about shellcmd  like "???+.???"
# So we may translate the character encoding.Default use system character encoding.
# server.encode=GBK
server.encode=GBK


##################################################

# Sleeping time for ShellCmd's running
# agent.shellsleeptime = 1000
agent.shellsleeptime = 1000

##################################################

# save the time for requestid
# saveIdDay=1
saveIdHour=8

##################################################

#Tivoli Syslog . RemoteHost Addr and port
#syslog=false
#syslogagent.ip=83.25.46.82
#syslogagent.port=514
syslog=false

##################################################

#Agent Info.
agent.ip=127.0.0.1
#agent.name=ICBC

# del agent log switch
delthread.switch=false 

#agent日志优化
syslog.maxbackupindex=10
syslog.filesize=100

#healthcheck.sendResultSleep=3000
#agent.healthcheck=true
#kafka.connect=true

#是否开启连接zk功能，默认false不开启
#zookeeper.connect=true

#agent.healthcheck=true
#healthcheck.sendResultSleep=2000

